.default {
    margin: 10px 10px 10px 10px;
    /*height: 40px;*/
    min-width: 100%;
    font-weight: bold;
    color: #e2e2e2;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, .5);
    user-select: none;
    padding: .7em 1.5em;
    border: 1px solid rgb(80, 32, 0);
    border-radius: 5px;
    outline: none;
    background: rgb(147, 80, 36) linear-gradient(rgb(106, 58, 26), rgb(147, 80, 36) 80%);
    box-shadow: 0 6px rgb(86, 38, 6),
    0 3px 15px rgba(0, 0, 0, .4),
    inset 0 1px rgba(255, 255, 255, .3),
    inset 0 0 3px rgba(255, 255, 255, .5);
    transition: .2s;
}

.default:hover {
    background: rgb(167, 91, 41) linear-gradient(rgb(126, 69, 31), rgb(167, 91, 41) 80%);
}

.default:active {
    background: rgb(120, 63, 25) linear-gradient(rgb(120, 63, 25) 20%, rgb(167, 91, 41));
    box-shadow: 0 2px rgb(86, 38, 6),
    0 1px 6px rgba(0, 0, 0, .4),
    inset 0 1px rgba(255, 255, 255, .3),
    inset 0 0 3px rgba(255, 255, 255, .5);
    -webkit-transform: translate(0, 4px);
    transform: translate(0, 4px);
}

.red {
    background: linear-gradient(rgb(135, 0, 0), rgb(255, 0, 0) 80%);
    box-shadow: 0 6px rgb(125, 0, 0),
    0 3px 15px rgba(0, 0, 0, .4),
    inset 0 1px rgba(255, 255, 255, .3),
    inset 0 0 3px rgba(255, 255, 255, .5);
    transition: .2s;
}

.red:hover {
    background: linear-gradient(rgb(170, 0, 0), rgb(255, 40, 40) 80%);
}

.red:active {
    background: linear-gradient(rgb(135, 0, 0), rgb(255, 0, 0) 80%);
    box-shadow: 0 2px rgb(135, 0, 0);
    -webkit-transform: translate(0, 4px);
    transform: translate(0, 4px);
}

.blue {
    background: linear-gradient(rgb(40, 40, 170), rgb(0, 0, 255) 80%);
    box-shadow: 0 6px rgb(0, 0, 125),
    0 3px 15px rgba(0, 0, 0, .4),
    inset 0 1px rgba(255, 255, 255, .3),
    inset 0 0 3px rgba(255, 255, 255, .5);
    transition: .2s;
}

.blue:active {
    background: linear-gradient(rgb(40, 40, 170), rgb(0, 0, 255) 80%);
    box-shadow: 0 2px rgb(40, 40, 170);
    -webkit-transform: translate(0, 4px);
    transform: translate(0, 4px);
}

.blue:hover {
    background: linear-gradient(rgb(0, 0, 170), rgb(40, 40, 255) 80%);
    opacity: 0.9;
}

.green {
    background: linear-gradient(rgb(40, 170, 40), rgb(0, 101, 0) 80%);
    box-shadow: 0 6px rgb(0, 125, 0),
    0 3px 15px rgba(0, 0, 0, .4),
    inset 0 1px rgba(255, 255, 255, .3),
    inset 0 0 3px rgba(255, 255, 255, .5);
    transition: .2s;
}
.green:active {
    background: linear-gradient(rgb(40, 170, 40), rgb(0, 101, 0) 80%);
    box-shadow: 0 2px rgb(0, 125, 0);
    -webkit-transform: translate(0, 4px);
    transform: translate(0, 4px);
}
.green:hover {
    background: linear-gradient(rgb(40, 170, 40), rgb(0, 101, 0) 80%);
    opacity: 0.8;
}
.purple {
    background: linear-gradient(rgb(198, 54, 255), rgb(139, 0, 146) 80%);
    box-shadow: 0 6px rgb(139, 0, 146),
    0 3px 15px rgba(0, 0, 0, .4),
    inset 0 1px rgba(255, 255, 255, .3),
    inset 0 0 3px rgba(255, 255, 255, .5);
    transition: .2s;
}
.purple:active {
    background: linear-gradient(rgb(198, 54, 255), rgb(139, 0, 146) 80%);
    box-shadow: 0 2px rgb(198, 54, 255);
    -webkit-transform: translate(0, 4px);
    transform: translate(0, 4px);
}
.purple:hover {
    background: linear-gradient(rgb(198, 54, 255), rgb(139, 0, 146) 80%);
    opacity: 0.8;
}


.disabled {
    opacity: 0.5;
}